@import '../../../styles.scss';

.chatbubble {
  position: fixed;
  display: inline-block;
  align-items: center;

  max-width: 60%;
  min-width: 50px;
  padding: 10px 20px;


  background-color: #ffffff;

  color: $very-dark;
  border-radius: 30px 30px 2px 30px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  white-space: normal;
  word-wrap: break-word;

  opacity: 0;
  transform: translateY(50px);
  animation: appear-and-move 2s ease-out forwards;
}

@keyframes appear-and-move {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(-500px);
  }
}
