@import '../../../styles.scss';

button {
  padding: 10px 20px;
  margin: 10px 10px;

  background-color: $primary;
  color: $light-primary;
  border-color: yellow;

  border: solid;
  border-radius: 30px 30px 30px 2px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}
