<div class="audio-record-content">

  <div class="audio-record" *ngIf="!recording">
    <p class="audio-placeholder" style="color: green">
      Click To Start Recording
    </p>
    <img
      src="assets/mic-icon.svg"
      (click)="startRecording()"
      class="mic-icon"
    />
  </div>

  <div class="audio-record" *ngIf="recording">
    <p class="audio-placeholder" style="color: red">Click To Stop Recording</p>
    <img
      src="assets/mic-icon.svg"
      (click)="stopRecording()"
      class="mic-icon"
    />
  </div>

  <audio class="audio-file" controls *ngIf="audioUrl">
    <source [src]="sanitize(audioUrl)" type="audio/wav" />
  </audio>

</div>
