/* SCSS Colors */
$primary: #60495a;
$secondary: #3f3244;
$dark: #2f2235;
$very-dark: #130d16;
$light-primary: #bfc3ba;
$light-secondary: #a9aca9;

/* SCSS Gradients */
$gradient-top: linear-gradient(0deg, $primary, $secondary, $dark);
$gradient-right: linear-gradient(90deg, $primary, $secondary, $dark);
$gradient-bottom: linear-gradient(180deg, $primary, $secondary, $dark);
$gradient-left: linear-gradient(270deg, $primary, $secondary, $dark);
$gradient-top-right: linear-gradient(45deg, $primary, $secondary, $dark);
$gradient-bottom-right: linear-gradient(135deg, $primary, $secondary, $dark);
$gradient-top-left: linear-gradient(225deg,$primary, $secondary, $dark);
$gradient-bottom-left: linear-gradient(315deg, $primary, $secondary, $dark);
$gradient-radial: radial-gradient(circle at center, $primary 30%, $secondary 60%, $dark 100%);

body {
  background: $gradient-radial;
  color: #333;
  min-height: 100vh;
}
